html, body
{
	margin: 0;
	padding: 0;
	font: 12px "Trebuchet MS";
	color: #222;
	background-color: #03396C;
}

#MAIN
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

#HEAD
{
	width: 100%;
	height: 65px;
	padding-top: 5px;
	float: center;
	background-color: #3399CC;
	overflow: hidden;
	color: #F0F0FF;
	font-size: 22px;
	line-height: 60px;
	padding-left: 20px;
	box-shadow: 0px 10px 10px 0px #333;
}

#HEAD p
{
	display: inline;
    vertical-align: top;
	margin-left: 30px;
}

#CONTENT
{
	width: 80%;
/*	overflow: hidden;*/
	min-height: calc(100% - 70px);
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	background-color: #F0F0F0;
	box-shadow: 10px 5px 10px 0px #333, -10px 6px 10px 0px #333;
}

#CONTENT h1
{
	font: 22px "Trebuchet MS";
	color: #F0F0F0;
	background-color: #3399CC;
	padding: 2px;
	display: inline-block;
}

#CONTENT p
{
	font-size: 16px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 1.5;
}

#CONTENT a, a:visited
{
	font-size: 16px;
	color: #222;
	text-decoration: none;
}

#CONTENT a:hover
{
	color: #666;
}

#CONTENT span.bold
{
	font-weight: 900;
}

#CONTENT form
{
	font: 16px "Trebuchet MS";
}

.tabs {
  width: calc(100%-20px);
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
}

.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs input[type="button"] {
  font-size: 14px;
  font-weight:bold;
  background-color:C1DFFF;
}
.tabs label {
  display: block;
  padding: 14px 14px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  background: #3399CC;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #33CCCC;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #F0F0F0;
  border-color: #185213;
  border-top: solid 1px;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding:  21px;
  padding-top: 17px;
  font-size: 20px;
  color: #EEE;
  background: #3388CC;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

table#stationsTable, table#stationsTable th, table#stationsTable td {
	border: solid 1px;
	border-collapse: collapse;
	width: 100%;
}

a.page {
	font-size: 18pt !important;
	margin-right: 10px;
}
